<form [formGroup]="loginForm">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" placeholder="Type your best email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="text" placeholder="Type your secret pass" formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput type="text" placeholder="Type your age" formControlName="age" />
    </mat-form-field>
  </div>
</form>
