:host {
  nav {
    width: 30vw;
    height: 98vh;
    background-color: yellow;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      margin-top: 30px;
    }

    a {
      color: black;
      padding: 10px;
      background-color: rgb(255, 255, 157);
    }
  }
}
