<mat-toolbar>
  <span>Angular Studies</span>
  <button mat-button routerLink="templates">Templates</button>
  <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu for button for template examples">
    Form Validations
  </button>
  <button mat-button routerLink="control-value-accessor">Control Value Accessor</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="form-validation/reactive">
      <mat-icon>bookmark</mat-icon>
      <span>Reactive Forms</span>
    </button>
  </mat-menu>
</mat-toolbar>

<ng-content></ng-content>
