span {
  font-weight: bold;
  background-color: lightgray;
  padding: .3em .8em;
  cursor: pointer;
  user-select: none;
}

.play-container {
  padding: 3em;
  border: 1px solid lightgray;
  margin-bottom: 1em;

  input{ 
    padding: 1em;
    margin-bottom: 2em;
  }
}

.active {
  background-color: #85de40;
  border: 2px solid black;
}

.notactive {
  background-color: lightgray;
}