<mat-card>
  <mat-card-title><h1>ng-template & TemplateRef</h1></mat-card-title>

  <mat-card-subtitle><h2>Examples of Template using ng-template and ng-container</h2></mat-card-subtitle>

  <mat-card-content>
    <ng-container [ngTemplateOutlet]="exampleTemplate"></ng-container>

    <ng-template #exampleTemplate>
      <p>Say Hello</p>
    </ng-template>
  </mat-card-content>

  <mat-card-subtitle><h2>Examples of Template using ng-template with ngIf</h2></mat-card-subtitle>

  <mat-card-content>
    <label> <input [(ngModel)]="selected" type="checkbox" />Select Me </label>

    <ng-template [ngIf]="selected">
      <div>
        <p>You are selected</p>
      </div>
    </ng-template>
  </mat-card-content>

  <ng-template #namesTemplate>
    <mat-card-subtitle> <h2>Examples of Template using ng-template with ViewChild</h2></mat-card-subtitle>
    <mat-card-content>
      <p *ngFor="let name of names">{{ name }}</p>
    </mat-card-content>
  </ng-template>
</mat-card>
