/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(31, 31, 31);
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6, a {
  color: white
}
